In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("WeatherPy_Vacation.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rocha,UY,67.51,overcast clouds,-34.4833,-54.3333,Hotel Arrarte
1,1,Fortuna,US,49.66,few clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
2,2,Port Hardy,CA,44.60,broken clouds,50.6996,-127.4199,Airport Inn-Port Hardy
3,3,Mataura,NZ,65.48,light rain,-46.1927,168.8643,Ellie's Villa
4,4,Bredasdorp,ZA,60.37,scattered clouds,-34.5322,20.0403,Bredasdorp Country Manor

In [4]:
cols = city_data_df.columns.tolist()
cols

['Unnamed: 0',
 'City',
 'Country',
 'Max Temp',
 'Current Description',
 'Lat',
 'Lng',
 'Hotel Name']

In [12]:
# Prompt the customer for the minimum temperature preference.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the customer for the maximum temperature preference. 
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
for index, row in city_data_df.iterrows():
    if rain == "no":
        rain_inches = city_data_df['Rain inches (last 3 hours)'] == 0
    else:
        rain_inches = city_data_df['Rain inches (last 3 hours)'] != 0
    if snow == "no":
        snow_inches = city_data_df["Snow inches (last 3 hours)"] == 0
    else:
        snow_inches = city_data_df["Snow inches (last 3 hours)"] != 0

KeyError: 'Rain inches (last 3 hours)'

In [14]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rocha,UY,67.51,overcast clouds,-34.4833,-54.3333,Hotel Arrarte
3,3,Mataura,NZ,65.48,light rain,-46.1927,168.8643,Ellie's Villa
4,4,Bredasdorp,ZA,60.37,scattered clouds,-34.5322,20.0403,Bredasdorp Country Manor
5,5,Vaini,TO,80.76,light intensity shower rain,-21.2000,-175.2000,Keleti Beach Resort
7,7,Tucuman,AR,68.00,mist,-26.8241,-65.2226,Dallas Hotel Tucuman
9,9,Antsohihy,MG,76.44,clear sky,-14.8796,47.9875,Hotel de Ville
11,11,Saint Anthony,US,57.13,clear sky,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
14,14,Hilo,US,76.73,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
16,16,Carnarvon,AU,75.27,few clouds,-24.8667,113.6333,Hospitality Carnarvon
17,17,Rikitea,PF,78.96,clear sky,-23.1203,-134.9692,People ThankYou

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rocha,UY,67.51,overcast clouds,-34.4833,-54.3333,
3,Mataura,NZ,65.48,light rain,-46.1927,168.8643,
4,Bredasdorp,ZA,60.37,scattered clouds,-34.5322,20.0403,
5,Vaini,TO,80.76,light intensity shower rain,-21.2000,-175.2000,
7,Tucuman,AR,68.00,mist,-26.8241,-65.2226,
9,Antsohihy,MG,76.44,clear sky,-14.8796,47.9875,
11,Saint Anthony,US,57.13,clear sky,45.0205,-93.2180,
14,Hilo,US,76.73,light rain,19.7297,-155.0900,
16,Carnarvon,AU,75.27,few clouds,-24.8667,113.6333,
17,Rikitea,PF,78.96,clear sky,-23.1203,-134.9692,

In [17]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rocha,UY,67.51,overcast clouds,-34.4833,-54.3333,Hotel Arrarte
3,3,Mataura,NZ,65.48,light rain,-46.1927,168.8643,Ellie's Villa
4,4,Bredasdorp,ZA,60.37,scattered clouds,-34.5322,20.0403,Bredasdorp Country Manor
5,5,Vaini,TO,80.76,light intensity shower rain,-21.2000,-175.2000,Keleti Beach Resort
7,7,Tucuman,AR,68.00,mist,-26.8241,-65.2226,Dallas Hotel Tucuman
9,9,Antsohihy,MG,76.44,clear sky,-14.8796,47.9875,Hotel de Ville
11,11,Saint Anthony,US,57.13,clear sky,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
14,14,Hilo,US,76.73,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
16,16,Carnarvon,AU,75.27,few clouds,-24.8667,113.6333,Hospitality Carnarvon
17,17,Rikitea,PF,78.96,clear sky,-23.1203,-134.9692,People ThankYou